#text-input {
    width: 326px;
    height: 136px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

#text-input, #text-input-length {
    display: inline-flex;
}

#text-input-length {
    vertical-align: middle;
}

/* #text-input-area {
    display:flex;
} */
